.DS_Store
node_modules
yarn-error.log
npm-debug.log

# Generated application files
public/dist/app
public/dist/css
public/index.html
public/dist/rev-manifest.json

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
