/*

	Product Reviews

*/

.block-product-reviews {
	.score-overall {
		padding: 0 15px; 
		font-weight: bold;
		font-size: 0.875rem;
		p { margin: 0; }
		img { vertical-align: baseline; margin-right: 10px; }
		a { margin-top: 6px; color: #000; }
	}

	.most-helpful-reviews {
		padding: 15px; 
		background-color: #f6f5f5;

		.left,
		.right {
			width: 50%;
		}
	}

	.heading {
		border-bottom: 1px solid $gray-light;
		margin-bottom: 17px;

		h4 { 
			font-size: 1.125rem;
			font-weight: normal;
			text-transform: uppercase;
			margin: 0;
		}

		.subhead {
			font-size: 0.75rem;
			color: $gray;
		}
	}

	article {
		padding-right: 25px;

		h3 { 
			margin: 0;
			font-size: 1rem;
			font-weight: bold;
		}

		p {
			font-size: 0.75rem;
		}

		cite {
			font-style: normal;
			a { color: $color-blue;}
		}
	}
}

